img{
    margin: 2% 0% 2% 8%;
}

body{
    background-color: #000;
}

#container-padre{
    padding: 5%;
}

.hijos{
    color: white;
    padding: 3%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#hijo3 > .hijo-text{
    font-size: 1em;
    font-weight: 50;
    font-family: 'Courier New', Courier, monospace;
}

.hijos > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}


.hijo-text > p{
    padding: 1%;
    font-size: 1em;
    font-weight: 50;
    font-family: 'Courier New', Courier, monospace;
}