*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none
}

body {
    background-color: rgb(17, 17, 17)
}

/* IMPORTS */
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

#img-principal{
    max-width: 100%;
    margin: 0;
    z-index: -1;
    animation: up 3s infinite;
}

/* NAVBAR */
nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: 1;
}

#checkbox, .nav_label{
    display: none;
}


.menu-logo > h1{
    font-size: 150%;
    color: #ffffff;
}

ul{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 300px;
}

li{
    list-style: none;
    margin: 0 0 0 2em;
}

li > a{
    text-decoration: none;
    margin: 0 0 0 ;
    color: rgb(214, 214, 214);
}

li > a:hover{
    color: rgb(255, 255, 255);
}

/* INDEX */

.container-text{
    width: 100%;
    padding: 0 10% 0 10%;
    text-align: center;
}

.container-text > h2{
    color: #ff9e1b;
    font-family: 'Special Elite', cursive;
    font-size: 3em;
}

.container-text > p{
    color: #fff;
    font-size: 1.3em;
}

/* DESIGN */
#video-container{
    width: 100%;
}

video{
    width: 100%;
}

@keyframes up{
    0%{transform: translateY(10px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(10px);}
}

/* MEDIA QUERIES */
@media  screen and (max-width: 960px) {

    body{
        background-color: #201e1e;
    }

    #img-principal{
        max-width: 100%;
        margin: 0;
        z-index: -1;
    }

    nav{
        height: 10vh;
        background-color: rgb(26, 26, 26);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    ul{
        width: 100%;
        height: 100vh;
        background-color: rgb(29, 29, 29);
        display: block;
        transition: all 1s;
        position: fixed;
        top: -101vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin: 0;
        font-size: 1.5em;
        box-sizing: border-box;
    }

    #checkbox:checked ~ ul{
        width: 100%;
        height: 100vh;
        background-color: rgb(29, 29, 29);
        display: block;
        transition: all 1s;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        margin: 0;
    }

    .nav_label{
        display: block;
        margin: 5%;
    }

    .nav_label{
        z-index: 2;
    }

    nav > input{
        display: none;
    }
    
    .menu-logo > h1{
        font-size: 150%;
        color: #ffffff;
    }
    
    .menu{
        margin: 0 0 0 300px;
    }
    
    li{
        list-style: none;
        margin-top: 10%;
    }
    
    li > a{
        text-decoration: none;
        margin: 0 0 0 ;
        color: rgb(214, 214, 214);
    }
    
    li > a:hover{
        color: rgb(255, 255, 255);
    }

    .container-text{
        width: 100%;
        padding: 0 2% 0 2%;
        text-align: center;
    }
    
    .container-text > h2{
        color: #ff9e1b;
        font-family: 'Special Elite', cursive;
        font-size: 2.5em;
        margin: 2% 0 0 0 ;
    }
    
    .container-text > p{
        color: #fff;
        font-size: 1em;
    }
}